html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}


fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}



textarea {
	resize: vertical;
}

/* ==========================================================================
   Atualizar
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Ajudantes
   ========================================================================== */

@font-face {
	font-family: 'Things_We_Said';
	src: url('../doc/Things_We_Said.eot');
	src: local('☺'), url('../doc/Things_We_Said.woff') format('woff'), url('../doc/Things_We_Said.ttf') format('truetype'), url('../doc/Things_We_Said.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rokkitt-Regular';
	src: url('../doc/Rokkitt-Regular.eot');
	src: local('☺'), url('../doc/Rokkitt-Regular.woff') format('woff'), url('../doc/Rokkitt-Regular.ttf') format('truetype'), url('../doc/Rokkitt-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rokkitt-Bold';
	src: url('../doc/Rokkitt-Bold.eot');
	src: local('☺'), url('../doc/Rokkitt-Bold.woff') format('woff'), url('../doc/Rokkitt-Bold.ttf') format('truetype'), url('../doc/Rokkitt-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}



.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}



.invisible {
	visibility: hidden;
}



.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Meus
   ========================================================================= */
/* * {transition: all ease-in-out 100ms;} */
a, a img {outline: 0px; border: 0px none; text-decoration: none;}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.grayscale {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

#wrap {
	width: 850px;
	height: 700px;
	display: block;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.mockdrop {
	position: absolute;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.66);
	background-image: url(../img/tela1/luz.png) ;
	background-position: 0px bottom;
	background-repeat: no-repeat ;
	top: 0px;
	left: 0px;
	width: 850px;
	height: 700px;
	display: block;
	padding: 67px 83px 0 84px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lightbox {
	background-color: #e5e7e7;
	display: block;
	width: 683px;
	height: 565px;
	border-radius: 12px;
	position: relative;
}
.lightbox .lightbox-wrap {
	position: relative;
}
.lightbox .lightbox-header {
	height: 97px;
	background: url(../img/tela1/header-1.jpg) repeat-x ;
	text-align: center;
	border-radius: 12px 12px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 20px;
}
.lightbox .lightbox-header h2 {
	margin: 0 ;
	display: inline-block;
	font-weight: normal;
	color: #e5e7e7;
	font-family: 'Rokkitt-Regular';
	font-size: 35px;
}
.lightbox .lightbox-header h2 img {
	margin-right: 0px;
	position: relative;
	top: -1px;
	margin-right: 10px;
}
.lightbox .close-lightbox {
	position: absolute;
	display: block;
	top: 11px;
	right: 9px;
	background: url(../img/tela1/sair.png) no-repeat  ;
	width: 36px;
	height: 36px;
}
.lightbox .lightbox-content {}
/* Index */
#index #bt-apresentacao, #index #bt-entrar, #index #bt-creditos {
	display: block;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
}
#index #bt-apresentacao, #index #bt-entrar {

	height: 86px;
	width: 173px;
	background-repeat: no-repeat;
}
#index #bt-apresentacao {
	background: url(../img/tela1/apresentacao.png);
	left: 240px;
	top: 425px;
}
#index #bt-entrar {
	background: url(../img/tela1/entrar.png);
	left: 428px;
	top: 425px;
}
#index #bt-creditos {
	width: 93px;
	height: 108px;
	background: url(../img/tela1/creditos.png) no-repeat -20px 0px;
	left: auto;
	right: 14px;
	top: 165px;
}
#index #tela1-conteudo {
	width: 850px;
	height: 700px;
	display: block;
	background: url(../img/tela1/tela-1-1.jpg) no-repeat;
}
#index #tela1-conteudo img {
	position: absolute;
	left: 0px; z-index: 1;
	 top: 0px;
}
#index #tela1-conteudo h1 {
	text-align: center;
	margin: 0px auto;
	width: 550px;
	padding-top: 187px;
	font-size: 58px;
	padding-bottom: 36px;
	color: transparent;
}
#index #tela1-conteudo p {
	margin: 0px auto;
	width: 536px;
	font-family: 'Rokkitt-Regular';
	font-size: 18px;
	text-align: center;
	color: #464646;
	line-height: 24px;
}

#creditos {
	padding: 17px 44px;
}
#creditos ul li {
	font-size: 18px;
	color: #464646;
	font-family: 'Rokkitt-Regular';
	margin-bottom: 24px;
}
#creditos ul li strong {
	font-weight: normal;
	font-family: 'Rokkitt-Bold';
	color: #39a1a2;
}
#apresentacao {
	padding: 22px 45px 0 45px;
}
#apresentacao p {
	font-size: 18px;
	color: #464646;
	margin: 0 0 20px 0;
	font-family: 'Rokkitt-Regular';
}
#apresentacao p strong {
	font-family: 'Rokkitt-Bold';
	font-weight: normal;
	color: #a2393b;
}
#apresentacao iframe {
	float: left;
	width: 369px;
	height: 228px;
	margin: 0 25px 0px 0;
	border: 0px none;
}
.paginator {
	text-align: center;
}
.paginator ul li {
	display: inline-block;
	font-family: 'Rokkitt-Bold';
	font-size: 18px;
	color: #393632;
	margin: 0 10px;
}
.paginator ul li a {
	color: #393632;
}
.paginator ul li a.active {
	color: #a2393b;
}
/* leitura */
#leitura #tela2-conteudo {
	width: 850px;
	height: 700px;
	display: block;
	background: url(../img/tela2/tela2main.jpg) no-repeat;
}
#leitura #tela2-conteudo img {
	margin-top: 207px;
}
#pagina-web, #meme, #publicidade, #fotojornalismo, #livro-ilustrado, #leitura-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}
#pagina-web {top: 306px; left: 675px;}
#meme {top: 232px; left: 525px;}
#publicidade {top: 275px; left: 347px;}
#fotojornalismo {top: 234px; left: 198px;}
#livro-ilustrado {top: 309px; left: 44px;}
#leitura-logo {top: 88px; left: 319px;}
